<style>
/* Montserrate Font Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html{margin: 0; padding: 0;}
body{margin: 0; padding: 0;}

.articlemain {position: absolute;height:100%;width:100%;justify-content: center;z-index:-1;background-color: #ECEDE9; color: #00293d; transition-duration: 0.4s;scrollbar-width:none;overflow-y:scroll;}

.article {position: relative;margin: 0% 15% 0% 15%;align-content:center;font-size: 180%; line-height: 48px; opacity: 0%; animation: FadeIn 1s forwards;font-family: 'Montserrat', sans-serif;}

IFRAME {display:none;}

@keyframes FadeIn {
0%{opacity: 0%; transform: translate(0px, +40px);}
20% {opacity: 0%; transform: translate(0px, +12px);}
100% {opacity: 100%; transform: translate(0px);} }

</style>
<!--

<link rel="stylesheet" href="../../article.css">
<div class="articlemain">
<div class="article">

</div></div>

-->