<style>
/* Montserrate Font Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.articlemain {
position: static;
display: flex;
justify-content: center;
}

.article {
align-content: center;
font-size: 180%;
margin-right: 15%;
margin-left: 15%;
line-height: 48px;
font-family: 'Montserrat', sans-serif;
}
</style>


<link rel="stylesheet" href="../../article.css">
<div class="articlemain">
<div class="article">

</div></div>