/* Montserrate Font Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*--Nav Launcher (Menu)*/
.AlphaCT, .CT2, .CT3 {
position: fixed;visibility: hidden;top: 50px;
font-family: 'Montserrat', sans-serif;
opacity: 0%;transition: .2s ease-in-out;}

.AlphaCT{margin-left:1%;}
.CT2{left: 360px;}
.CT3 { left: 400px; }

.ITEM {
display: block;width: 160px;height: 50px;
margin: 0 0 12 0;
background-color: #00283c;color: white;
border: 2px dotted #1e87e6;border-radius: 1px;
box-shadow: 0px 0px 0px 5px #00283c;
font-size:16px;text-align: center;line-height: 50px;text-decoration: none;
transition: .2s ease-in-out;
}

.ITEM:link {font-weight: normal;color: #1e98fd;}
.ITEM:visited {font-weight: normal;color: white;}
.ITEM:hover {border: 2px solid #33ccff;border-radius: 6px;}
.ITEM:hover > .CT2 {visibility: visible;opacity: 100%;left: 192px;}
.ITEM:hover > .CT3 {visibility: visible;opacity: 100%;left: 367px;}

/*--Nav Button*/
.NavButton {
position: fixed;width: 30px;height: 30px;left: 10px;top: 5px;
background-color: #00283c;
border: solid #33ccff;border-radius: 100%;
opacity: 10%;transition: 0.4s ease-in-out;
z-index:+6;
}

.NavButton:hover {scale: 1.1;opacity: 100%;}

#NavToggle {position:fixed;display:none;}

#NavToggle:checked ~ .AlphaCT {visibility: visible;opacity: 100%;transition: .4s ease-in-out;}

#NavToggle:checked ~ .NavButton {border-radius: 0%;border-color: #33ccff;opacity: 100%;transition: .4s ease-in-out;}